# Firebase Admin
FB_PROJECT_ID=your-project-id
FB_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
FB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

# Session
SESS_SECRET=your-session-secret-key
SESS_TTL=3600

# Development
NODE_ENV=development
PORT=3000