# Dependencies
node_modules
.pnp
.pnp.js
bun.lockb
bun.lock

# Testing
coverage

# Production
build
dist
.next
out

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development
.env.test
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Turbo
.turbo
