# Temporary files
**/*.rs.bk
**/*.swp

# Target directory, except release binary
target/*
!target/release/
target/release/*
!target/release/epsx

# Git directory
.git/

# Environment files
.env*
!.env.example

# Editor directories
.vscode/
.idea/
