# Server Configuration
PORT=3002
RUST_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB Configuration
MONGODB_URI=mongodb+srv://serverlessinstance0.2giidrq.mongodb.net
MONGODB_DB=epsx

# Payment Configuration
MUSEPAY_PARTNER_ID=your-partner-id
MUSEPAY_PRIVATE_KEY=your-api-key

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=secret/firebase-service-account.json

# TradingView Configuration
TRADINGVIEW_AUTH_TOKEN=your-tradingview-auth-token # Get this from your TradingView session cookies (see docs for details)
