# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_NAME=epsx

# JWT Configuration
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=24h

# Firebase Admin Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email

# Microservices Configuration
MARKET_SERVICE_HOST=localhost
MARKET_SERVICE_PORT=3001
AI_SERVICE_HOST=localhost
AI_SERVICE_PORT=3002
SCHEDULER_SERVICE_HOST=localhost
SCHEDULER_SERVICE_PORT=3003
