# Environment
PORT=3001
NODE_ENV=development

MARKET_SERVICE_HOST=localhost
MARKET_SERVICE_PORT=3002

AI_SERVICE_HOST=localhost
AI_SERVICE_PORT=3003

FIREBASE_PROJECT_ID=your-project-id
# Note: Private key should be the raw key from your Firebase service account JSON file, with newlines preserved as \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Private-Key-Here\n-----END PRIVATE KEY-----"
FIREBASE_CLIENT_EMAIL=your-service-account-email
FIREBASE_STORAGE_BUCKET=your-storage-bucket
